.tab-button {
  padding: 6px 14px;
  color: white;
  background-color: #21212d;
  border: 1px solid #18181d;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}

.tab-button.active {
  background-color: #18181d;
  border: 1px solid #18181d;
}

.tab-content {
  background-color: #18181d;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.command {
  display: flex;
  align-items: center;
  justify-content: space-between;

  pre {
    background-color: #18181d !important;
  }

  &-btn {
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      width: 35px;
      height: 35px;

      background: #18181d;
    }
  }
}

.code {
  margin-right: 10px;
}

.clipboard-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
