.hook-doc {
  padding: 100px 32px 32px 32px;
  border-radius: 16px;
  position: relative;

  @media (max-width: 767px) {
    padding: 100px 16px 16px 16px;
  }

  & > * {
    z-index: 2;
    position: inherit;
  }

  &__glass {
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(#21212d, 0.4);
    border-radius: 20px;
  }

  &__title {
    color: #d4bf79;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 48px;
    text-align: center;
  }

  &__like {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    position: absolute;
    top: -100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    img {
      width: 340px;
      transition: 0.14s ease-in-out;
      pointer-events: all;

      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 7px 29px rgba(56, 96, 232, 0.2));
      }
    }
  }

  h5 {
    color: #f0edff;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
    font-weight: 700;
  }

  &__description {
    color: #f0edff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 32px;

    strong {
      font-weight: 700;
    }

    p {
      color: #f0edff;
      text-align: justify;
    }
  }

  &__list {
    padding-left: 0;
    margin: 0 0 32px 20px;
    list-style-type: disc;
    padding-left: 10px;

    li {
      color: #e9ecef;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      line-height: 24px;

      &::marker {
        color: #3860e8;
      }
    }

    strong,
    b {
      font-weight: 700;
    }
  }

  &__installation {
    margin-bottom: 2rem;
  }

  &__api {
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      overflow: auto;
    }

    h5 {
      margin-bottom: 20px;
    }

    table {
      margin-bottom: 32px;

      strong {
        font-weight: 700;
      }
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #18181d;
    border-radius: 10px;

    th {
      background-color: #18181d;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      min-width: 110px;
      border: 1px solid #18181d;
    }

    td {
      background-color: rgba(#21212d, 0.4);
      color: #fff;
      min-width: 160px;
      border: 1px solid #18181d;
      vertical-align: middle;
    }

    td:first-of-type {
      width: 280px;
      color: #d4bf79;
      font-weight: 600;
    }

    td:nth-child(2) {
      width: 200px;
    }

    td,
    th {
      border: 1px solid #18181d;
      text-align: left;
      padding: 15px;
      line-height: 22px;
    }
  }

  &__example {
    margin-bottom: 32px;

    iframe {
      min-height: 350px;
      max-height: 500px;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  &__install {
    pre {
      background-color: #18181d !important;
      border-radius: 10px;
    }
  }

  &__usage {
    margin-bottom: 2rem;

    pre {
      background-color: #18181d !important;
      border-radius: 10px;
    }
  }

  &__api {
    &__parameters,
    &__returns {
      margin-bottom: 1rem;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .hook-doc__parameter,
      .hook-doc__return {
        background: #f5f5f5;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        margin-bottom: 0.5rem;
        font-family: monospace;

        strong {
          font-weight: bold;
        }
      }
    }
  }

  &__contributing {
    padding: 1rem;
    border-top: 1px solid #ccc;
    margin-top: 2rem;

    p {
      margin-bottom: 0;
    }
  }
}
