.svg-defs {
  display: none;
}

.comet-rain {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.comet-instance {
  height: auto;
  position: absolute;
  left: -10vw;
  top: -10vh;
  z-index: -1;
  transform: scaleX(-1);
  fill: url(#gradient);
}

.comet-01,
.comet-03,
.comet-04,
.comet-06 {
  width: 5vmin;
}
.comet-02,
.comet-05 {
  width: 6vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .comet-instance {
    animation: MakeItRain 10s infinite;
  }

  .comet-01 {
    left: 30vw;
    animation-delay: 0ms;
  }

  .comet-02 {
    left: 57vw;
    animation-delay: 9s;
  }

  .comet-03 {
    left: 83vw;
    animation-delay: 6s;
  }

  .comet-04 {
    top: 13vh;
    animation-delay: 22s;
  }

  .comet-05 {
    top: 34vh;
    animation-delay: 5s;
  }

  .comet-06 {
    top: 67vh;
    animation-delay: 14s;
  }

  @keyframes MakeItRain {
    0% {
      opacity: 0;
      transform: scaleX(-1) translate(0, 0);
    }
    70% {
      opacity: 0.4;
      transform: scaleX(-1) translate(0, 0);
    }
    100% {
      opacity: 1;
      transform: scaleX(-1) translate(-101vw, 101vmax);
    }
  }
}
