$white: #fff;
$black: #111827;
$blackLight: rgba(55, 65, 81, 1);
$blue: #004f85;
$blueDark: #002c49;
$blueDarker: #01263f;
$gray: #f7f7f7;
$grayLight: #f3f4f6;
$gray2: #f6f6f6;
$gray3: #dadcde; //Scrollbar color
$gray4: rgba(107, 114, 128, 1);
$grayDark: #8c99a0; //Text color
$grayDarker: #6d7280; //Text color
$borderGray: #e5e7eb;
$borderGrayDark: #1f2937;
$btnBlue: #4338ca;
$btnBlueLight: #a5b4fc;
$btnBlueLight2: #eef2ff;
$linkBlue: #4f46e5;

$green: #134e4a;
$greenLight: #8accc6;

$red: #991a42;

$container: 1024px;
$containerBig: 1280px;

$font-default: 'Poppins', sans-serif;

$bp-mobile: 767;
$bp-tablet: 1024;
$bp-desktop: 1200;
