.card {
  width: 190px;
  height: 190px;
  background-image: linear-gradient(163deg, #1dd0d3 0%, #3860e8 100%);
  border-radius: 20px;
  transition: all 0.3s;
  text-decoration: none;
}

.card2 {
  width: 190px;
  height: 190px;
  background-color: #21212d;
  border-radius: 20px;
  transition: all 0.2s;
  color: #3860e8;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(#3860e8, 0.3);
}

.card-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0 16px;
  }
}
