.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px 0;
  cursor: pointer;

  @media (max-width: 767px) {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: #21212d;
  }

  span svg {
    width: 50px;
    height: 12px;
    transition: width 0.2s ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #21212d;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }

  &:hover {
    color: #fff;
    padding: 15px 20px;

    span svg {
      opacity: 0;
      width: 0px;
    }

    &:after {
      width: 110%;
    }
  }

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}
