.github-button {
  position: absolute;
  top: 20px;
  right: 20px;

  @media (max-width: 767px) {
    position: fixed !important;
    top: 10px !important;
    right: 16px !important;
    z-index: 12;
  }

  svg {
    width: 48px;
    height: 48px;

    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background-color: #21212d;
      border-radius: 100%;
    }
  }
}
